/* css reset */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* custom property */
:root{
   --c-grey: #8A8E93;
   --c-lightgrey: #BDBDBD;
   --c-green: #BCFF38;
   --c-white: #fff;
   --c-black: #000;
}

/* default css */
body{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
   text-decoration: none;
}
ul, ol{
   list-style: none;
}

/* utility */
.debug{
   border: 1px solid red;
}
.btn{
   background-color: transparent;
   text-transform: uppercase;
   border: 1px solid var(--c-white);
   border-radius: 50px;
   color: var(--c-white);
   padding: 10px 35px;
}
.btn:hover{
   transform: scale(1.05);
}
.round{
   border-radius: 100%;
}








/* ====main==== */
main{
   display: flex;
   height: calc(100vh - 80px);
}

/* ----side-bar---- */
section.side-bar{
   width: 220px;
   background-color: var(--c-black);
   position: relative;
}
/* __side-bar-menu__ */
.side-bar-menu{
   margin-left: 20px;
}
.side-bar-menu a:hover{
   color: #fff;
}
.logo{
   width: 120px;
   margin: 24px;
}
.serch{
   margin-bottom: 25px;
}
.serch ul li{
   margin-bottom: 5px;
   font-size: 0.9rem;
}
.serch ul li a{
   display:inline-flex;
   align-items: center;
   color: var(--c-grey);
}
.serch ul li a img{
   width: 30px;
   filter: brightness(0) saturate(100%) invert(33%) sepia(5%) saturate(9%) hue-rotate(24deg) brightness(94%) contrast(82%);
   margin-right: 5px;
}
.playlist h4{
   color: var(--c-white);
   margin-bottom: 10px;
}
.playlist ul li{
   line-height: 25px;
   font-size: 0.9rem;
}
.playlist ul li span{ 
   font-size: 2.5rem;
   background-color: var(--c-grey);
   color: var(--c-black);
   padding: 8px 10px;
   margin-right: 8px;
}
.playlist ul li a{
   color: var(--c-grey);
}
.playlist ul li a:first-child{
   display: inline-flex;
   align-items: center;
   margin-bottom: 10px;
}
/* __side-bar-btm__ */
.side-bar-btm{
   width: 100%;
   position: absolute;
   bottom: 0;
}
.side-bar-btm a:hover{
   color: var(--c-white);
}
.bottom-contain{
   height: 100%;
   margin: 0 20px;
}
.download a{
   display: inline-flex;
   color: var(--c-grey);
}
.download a img{
   width: 20px;
   filter: brightness(0) saturate(100%) invert(33%) sepia(5%) saturate(9%) hue-rotate(24deg) brightness(94%) contrast(82%);
   margin-right: 10px;
}
.profile{
   border-top: 1px solid var(--c-grey);
   padding: 10px 0;
   margin-top: 5px;
}
.profile a {
   color: var(--c-white);
   display: inline-flex;
   align-items: center;
}
.profile a svg{
   width: 25px;
   background-color: var(--c-grey);
   border-radius: 50px;
   padding: 2px;
   margin-right: 10px;
}

/* #######side-bar mobile####### */
#mobile-sidebar{
   width: 55px;
   background-color: var(--c-black);
   display: none;
}
.mobile-logo{
   margin: 5px 5px 10px 5px;
}
.mobile-menu{
   height: calc(100% - 60px);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.mobile-serch a img{
   filter: brightness(0) saturate(100%) invert(33%) sepia(5%) saturate(9%) hue-rotate(24deg) brightness(94%) contrast(82%);
   margin: 6px;
}
.mobile-profile a img{
   filter: brightness(0) saturate(100%) invert(33%) sepia(5%) saturate(9%) hue-rotate(24deg) brightness(94%) contrast(82%);
   margin: 5px 11px 5px 5px;
}
.mobile-profile a svg{
   background-color: var(--c-grey);
   padding: 10px;
   margin: 5px;
   border-radius: 50px;
}


/* ----section-content---- */
section.section-content{
   width: calc(100vw - 220px);
   background-color: #141923;
   overflow: auto;
}
/* __header__ */
div.header{
   width: 100%;
   height: 90px;
   background-color: #080B13;
   display: flex;
   justify-content:flex-end;
   align-items: center;
}
.header .btn{
   margin-right: 15px;
}
/* __content__ */
.content{
   margin: 15px;
}
/* content-nav */
.content-nav{
   display: flex;
   justify-content: center;
   align-items: center;
}
.content-nav ul{
   display: flex;
   justify-content: center;
}
.content-nav ul li{
   margin: 0 15px;
}
.content-nav ul li a{
   color: var(--c-grey);
   text-transform: uppercase;
   font-size: 0.9rem;
}
.content-nav ul li a:hover{
   color: var(--c-white);
   text-decoration: underline 2px #BCFF38;  
}
/* content-cards */
.row-container{
   margin: 30px 0;
}
.row-container h2{
   color: var(--c-white);
}
.row-container span{
   color: var(--c-grey);
}
.row{
   display: flex;
}
.card{
   width: calc(100% / 6);
   padding: 10px;
}
.card-img{
   height: 80%;
   position: relative;
}
.card-img img{
   width: 100%;
   height: 100%;
}
.card-img:hover img{
   opacity: 50%;
}
.card-img:hover::after{
   font-family: "Font Awesome\ 5 free";
   content: '\f144';
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 60px;
   color: #fff;
}
.card-text{
   height: 20%;
   text-align: center;
   padding-top: 10px;
}
.card-text h4{
   color: var(--c-white);
   margin-bottom: 8px;
}
.card-text span{
   color: var(--c-grey);
}

/* ====bottom-bar==== */
section.bottom-bar{
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 80px;
   background-color: #282828;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
}
.bottom-bar a{
   color: var(--c-grey);
}
.bottom-bar a:hover{
   color: var(--c-white);
}
.play-title{
   display: flex;
   align-items: center;
}
.play-title span:hover{
   color: var(--c-white);
   text-decoration: underline;
}

.play-title div img{
   width: 50px;
}
.play-title div h5{
   color: var(--c-white);
}
.play-title div span{
   color: var(--c-grey);
   font-size: 0.8rem;
}
.play-title div:first-child{
   margin-right: 10px;
}
.play-title div:last-child{
   margin: 0 30px;
}
.play-title div:last-child a{
   margin: 5px;
}
.play-playback{
   text-align: center;
   width: 600px;
   padding: 30px 0;
}
.play-playback .playback-options{
   height: 60%;
}
.play-playback .playback-options a {
   padding: 10px;
   font-size: 15px;
   color: var(--c-white);
}
.play-playback .playback-options a:nth-child(3){
   font-size: 22px;
}
.playback-options a:nth-child(3):hover{
   font-size: 25px;
}
.play-playback .play-bar{
   display: flex;
   align-items: center;
   height: 40%;
}
.play-playback .play-bar span{
   color: var(--c-white);
   font-size: 0.6rem;
}
.play-bar .bar{
   width: 100%;
   height: 4px;
   background-color: var(--c-grey);
   margin: 0 35px;
   border-radius: 50px;
}
.play-bar .bar:hover .bar-status{
   background-color: var(--c-green);
}
.play-bar .bar:hover .status-point{
   display: block;
}
.bar .bar-status{
   width: 20%;
   height: 100%;
   background-color: var(--c-lightgrey);
   border-radius: 50px;
   position: relative;
   display: flex;
   align-items: center;
}
.bar-status .status-point{
   position: absolute;
   right: 0;
   color: var(--c-lightgrey);
   display: none;
}
.play-volume{
   display: flex;
   align-items: center;
}
.play-volume a{
   color: var(--c-white);
   margin: 0 5px;
}
.play-volume .volume-bar{
   width: 100px;
   height: 4px;
   background-color: var(--c-grey);
   border-radius: 50px;
   margin-left: 5px;
}
.volume-bar .volume-status{
   position: relative;
   display: flex;
   align-items: center;
   width: 30%;
   height: 100%;
   background-color: var(--c-lightgrey);
   border-radius: 50px;
}
.volume-status .status-point{
   position: absolute;
   right: 0;
   color: var(--c-lightgrey);
   display: none;
}
.volume-bar:hover .volume-status{
   background-color: var(--c-green);
}
.volume-bar:hover .status-point{
   display: block;
}



/* ====media query==== */
@media screen and (max-width: 1100px) {
   .row{
      flex-wrap: wrap;
   }
   .card{
      width: calc(100% / 4);
   }
   .content-nav ul{
      flex-wrap: wrap;
   }
   .content-nav ul li{
      margin: 10px;
   }
   .play-title div:last-child a{
      display: block;
   }
}

@media screen and (max-width: 700px){
   .card{
      width: calc(100% / 2);
   }
}

@media screen and (max-width: 600px){
   #sidebar{
      display: none;
   }
   #mobile-sidebar{
      display: block;
   }
   section.section-content{
      width: calc(100vw - 55px);
   }
}