/* css reset */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* custom property */
:root{
   --c-grey: #8A8E93;
   --c-lightgrey: #BDBDBD;
   --c-green: #BCFF38;
   --c-white: #fff;
   --c-black: #000;
}

/* default css */
body{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
   text-decoration: none;
}
ul, ol{
   list-style: none;
}
svg{
   fill: var(--c-grey);
   width: 30px;
}

/* utility */
.btn{
   background-color: transparent;
   text-transform: uppercase;
   border: 1px solid var(--c-white);
   border-radius: 50px;
   color: var(--c-white);
   padding: 10px 35px;
}

.btn:hover{
   transform: scale(1.05);
}

.round{
   border-radius: 50%;
}




/* ====== MAIN ====== */
main{
   display: flex;
   height: calc(100vh - 90px);
}

/* ----- MAIN: SECTION sidebar ----- */
section.sidebar{
   width: 220px;
   background-color: var(--c-black);
}

div.logo{
   width: 100%;
   height: 80px;
}

.logo img{
   padding: 20px;
   width: 180px;
}

/* __SIDEBAR: menu__ */
div.menu-container{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: calc(100% - 80px);
   position: relative;
}

/* MENU: search */
div.menu .search ul li a{
   display: flex;
   align-items: center;
   color: var(--c-grey);
   padding: 5px 15px;
}

.search ul li a svg{
   margin-right: 5px;
}

.search ul li a:hover span{
   color: var(--c-white);
}

.search ul li a:active{
   border-left: 3px solid var(--c-green);
}

.search ul li a:hover svg{
   fill: #fff;
}

/* MENU: playlist */
div.playlist{
   margin-top: 30px;
   margin-left: 18px;
}

.playlist h4{
   color: var(--c-white);
   margin-bottom: 5px;
}

.playlist ul li{
   padding: 8px 0;
}

.playlist ul li a{
   color: var(--c-grey);
}

.playlist ul li a:hover {
   color: var(--c-white);
}

.playlist ul li a:hover i{
   background-color: var(--c-white);
}

.playlist ul li a i{
   background-color: gray;
   padding: 12px;
   font-size: 22px;
   color: var(--c-black);
   margin-right: 5px;
}

/* __SIDEBAR: user__ */
div.download, div.profile{
   margin: 0 15px;
}

div.download a, div.profile a{
   display: flex;
   align-items: center;
}

div.download{
   margin-bottom: 10px;
}

.download a{
   color: var(--c-grey);
   font-size: 0.9rem;
}

.download a:hover{
   color: var(--c-white);
}

.download a svg{
   width: 20px;
   margin-right: 5px;
}

.download a:hover svg{
   fill: #fff;
}

div.profile{
   border-top: 1px solid var(--c-grey);
   padding: 10px 0;
}

.profile a{
   color: var(--c-white);
}

.profile a svg{
   background-color: var(--c-grey);
   border-radius: 50px;
   padding: 2px;
   fill: #fff;
   margin-right: 8px;
}

/* ----- MAIN: SECTION sidebar-mobile ----- */
section.mobile-sidebar{
   width: 55px;
   background-color: var(--c-black);
   display: none;
}

/* __SIDEBAR-MOBILE: menu__ */
div.menu-mob-container{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
}

.menu-mobile .logo-mobile{
   margin: 10px;
}

.menu-mobile .mobile-search, .user-mobile{
   text-align: center;
}

.mobile-search li{
   margin-bottom: 10px;
}

.mobile-search li a:active svg{
   fill: #fff;
}

/* __SIDEBAR-MOBILE: user__ */
.user-mobile li a.download svg{
   width: 24px;
   margin-bottom: 10px;
}

.user-mobile li a.download:active svg{
   fill: #fff;
}

.user-mobile li a.user svg{
   fill: #fff;
   background-color: var(--c-grey);
   padding: 2px;
   border-radius: 50px;
   margin: 5px 0;
}


/* ----- MAIN: SECTION content-container----- */
section.content-container{
   width: calc(100vw - 220px);
   background-color: #141923;
   overflow: auto;
}

/* __SECTION: header__ */
header{
   width: 100%;
   height: 80px;
   background-color: #080b13a1;
   display: flex;
   justify-content:flex-end;
   align-items: center;
}

header .btn{
   margin-right: 15px;
}

/* __SECTION: content__*/
div.content{
   margin: 20px;
}

/* CONTENT: nav */
.content-nav{
   display: flex;
   justify-content: center;
}

.content-nav ul{
   display: flex;
}

.content-nav ul li{
   margin: 0 12px;
}

.content-nav ul li a{
   color: var(--c-grey);
   text-transform: uppercase;
   font-size: 0.9rem;
}

.content-nav ul li a:hover{
   color: var(--c-white);
}
.content-nav ul li a:active{
   border-bottom: 2px solid var(--c-green);
}

/* CONTENT: cards */
div.row-container{
   margin: 30px 0;
}

.row-container .row-title{
   margin-bottom: 20px;
}

.row-title h2{
   color: var(--c-white);
   margin-bottom: 10px;
}

.row-title span{
   color: var(--c-grey);
}

.row{
   display: flex;
}

/* cards-style */
.card{
   width: calc(100% / 6);
   padding: 10px;
}

.card-img{
   position: relative;
}

.card-img img{
   width: 100%;
   cursor: pointer;
}

.card-img:hover img{
   opacity: 40%;
}

.card-img:hover::after{
   font-family: "Font Awesome\ 5 free";
   content: '\f144';
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 50px;
   color: #fff;
   cursor: pointer;
}

.card-text{
   text-align: center;
   margin-top: 10px;
}

.card-text h4{
   color: var(--c-white);
   margin-bottom: 8px;
   font-size: 0.9rem;
}

.card-text span{
   color: var(--c-grey);
   font-size: 0.9rem;
}

/* ====== FOOTER ====== */
/* ----- FOOTER: SECTION bottombar ----- */
section.btm-bar{
   height: 90px;
   width: 100vw;
   background-color: #282828;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 10px;
}

/* __BOTTOMBAR: btm-left__ */
div.btm-left{
   display: flex;
   align-items: center;
}

.btm-img{
   width: 50px;
}

.btm-img img{
   width: 100%;
}

.btm-title{
   margin-left: 10px;
   margin-right: 10px;
}

.btm-title h5{
   color: var(--c-white);
   font-size: 0.9rem;
}

.btm-title span{
   color: var(--c-grey);
   font-size: 0.8rem;
}

.btm-title span:hover{
   color: var(--c-white);
   text-decoration: underline;
}

.btm-save{
   margin-right: 10px;
}

.btm-save a{
   font-size: 18px;
   margin: 5px;
   color: var(--c-grey);
}

.btm-save a:hover{
   color: var(--c-white);
}

/* __BOTTOMBAR: btm-center__ */
div.btm-center{
   width: 35%;
   height: 100%;
}

div.play-options{
   height: 60%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.play-options a{
   margin: 0 10px;
   font-size: 18px;
   color: var(--c-white);
}

.play-options a:nth-child(3){
   font-size: 24px;
}

.play-options a:nth-child(3):hover{
   transform: scale(1.2);
}

div.play-bar{
   height: 40%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 15px;
}

.play-bar span{
   color: var(--c-white);
   font-size: 0.6rem;
}

.play-bar .p-bar{
   width: 80%;
   height: 5px;
   background-color: var(--c-grey);
   border-radius: 5px;
}

.p-bar .p-bar-status{
   width: 30%;
   height: 100%;
   background-color: var(--c-lightgrey);
   border-radius: 5px;
   display: flex;
   align-items: center;
   position: relative;
}

.p-bar-status .status-point{
   position: absolute;
   right: 0;
   color: var(--c-lightgrey);
   display: none;
}

.p-bar:hover .p-bar-status{
   background-color: var(--c-green);
}

.p-bar:hover .status-point{
   display: block;
}

/* __BOTTOMBAR: btm-right__ */
div.btm-right{
   display: flex;
   align-items: center;
}

.btm-right a{
   margin: 0 8px;
   color: var(--c-white);
}

.btm-right .volume-bar{
   width: 100px;
   height: 5px;
   background-color: var(--c-grey);
   border-radius: 5px;
   display: flex;
   align-items: center;
   margin-left: 5px;
}

.volume-bar .volume-status{
   width: 40%;
   height: 100%;
   background-color: var(--c-lightgrey);
   border-radius: 5px;
   display: flex;
   align-items: center;
   position: relative;
}

.volume-status .status-point{
   position: absolute;
   right: 0;
   color: var(--c-lightgrey);
   display: none;
}

.volume-bar:hover .volume-status{
   background-color: var(--c-green);
}

.volume-bar:hover .status-point{
   display: block;
}



/* ##### MEDIA QUERY ##### */
@media screen and (max-width: 1100px){
   .row{
      flex-wrap: wrap;
   }
   .card{
      width: calc(100% / 4);
   }
   .content-nav ul{
      flex-wrap: wrap;
   }
   .content-nav ul li{
      margin: 10px;
   }
   .play-title div:last-child a{
      display: block;
   }
   .btm-save a{
      display: block;
   }
}

@media screen and (max-width: 700px){
   .card{
      width: calc(100% / 2);
   }
}

@media screen and (max-width: 600px){
   section.sidebar{
      display: none;
   }
   section.mobile-sidebar{
      display: block;
   }
   section.content-container{
      width: calc(100vw - 55px);
   }
}